.my-card {
    width: 20vw;
}

.navbar-nav {
    margin-left: auto;
}

@media screen and (max-width: 1080px) {
    .my-card {
        width: 42.5vw;
    }
}

@media screen and (max-width: 960px) {
    .my-card {
        width: 40vw;
    }
}

@media screen and (max-width: 640px) {
    .my-card {
        width: 100vw;
    }
}
